$breakpoint-phone: 576px;
.review{
    margin-top: 1rem;
    .center {
        width: 90%;
        margin: 0 auto;
        .all-rews{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: $breakpoint-phone) {
                flex-direction: column;
           }
           .small{
            width: 48%;
            height:700px;
            @media (max-width: $breakpoint-phone) {
                width: 100% !important;
                height:620px;
           }
        }
        }
    }
}